html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
  *{
    margin: 0%;
    padding: 0%;
    font-family: 'Kumbh Sans', sans-serif;
    
}

  .chart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./img/fondo.jpeg)
  }

  .card{
    width: 35%; height:40%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.075);
    background: white;
  }

  .cardHeaderimg{
    width: 100%;  height: 30%;
    display: block;
  }

.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(184, 183, 183);
}
  .cardBodyImg{
    width: 30%;   height: 30%;
   border: 3px solid white;
   border-radius: 50%;
   margin-top: calc(-75px - 3px);
  }

  .cardBodyTitle{
    margin: 5% 0%;
  }

  .cardBodyText{
    margin-bottom: 5%;
    color: rgb(113, 112, 112);
  }

.cardFooter{
  display: flex;
  justify-content: space-around;
  padding: 5%;
  text-align: center;
}

.text{
  margin-top: 10%;
  letter-spacing: 1px;
  color:  rgb(113, 112, 112);
}
