@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg-black: rgba(0, 0, 0, 1);

        --text-white: rgba(255, 255, 255, 1);
        --text-black: rgba(0, 0, 0, 1);
        --text-yellow: rgba(251, 177, 36, 1);
    }
}

.body {
    margin: 0;
    background: #ffff;
    min-width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: "Inconsolata", monospace;
}
