@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg-black: rgba(0, 0, 0, 1);

        --text-white: rgba(255, 255, 255, 1);
        --text-black: rgba(0, 0, 0, 1);
        --text-yellow: rgba(251, 177, 36, 1);

        --color-btn-red: rgb(239 68 68);
        --color-btn-red-hover: rgb(189 68 68);

        --color-btn-style: rgb(99 102 241);
        --color-btn-style-hover: rgb(70, 72, 220);

        --color-btn-blue: rgb(96 165 250);
        --color-btn-blue-hover: rgb(30, 126, 195);

        --color-btn-gray: rgb(156 163 175);
        --color-btn-gray-hover: rgb(131, 136, 144);

        --color-btn-yellow: rgb(234 179 8);
        --color-btn-yellow-hover: rgb(197, 150, 8);
    }
}

.body {
    margin: 0;
    background: #ffff;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inconsolata", monospace;
}

html,
body,
#root {
    height: 100%;
}
